<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/navbar :: head">
    <title id="pageTitle">Change Password</title>
</head>

<body>

<div th:include="layout/navbar :: navigationPanel"></div>

<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div id="second">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Change your password</h1>
                        </div>
                    </div>

                    <div class="alert alert-danger" th:if="${hasErrors == 'true'}" role="alert">
                         <span th:text="${errorMessage}"></span>
                    </div>

                    <div class="alert alert-success" th:if="${hasErrors == 'false'}" role="alert">
                        <span>Success!</span>
                    </div>

                    <form th:action="@{/changePassword}" method="POST" th:object="${password}" name="registration">
                        <div class="form-group">
                            <label for="oldPassword">Old password</label>
                            <input type="password" th:field="*{oldPassword}" id="oldPassword" class="form-control"
                                   aria-describedby="emailHelp" placeholder="Old password">
                        </div>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('oldPassword')}" role="alert">
                            <span th:errors="*{oldPassword}"></span>
                        </div>

                        <div class="form-group">
                            <label for="newPassword">New password</label>
                            <input type="password" th:field="*{newPassword}" id="newPassword" class="form-control"
                                   aria-describedby="emailHelp" placeholder="New password">
                        </div>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('newPassword')}" role="alert">
                            <span th:errors="*{newPassword}">Field can't be empty</span>
                        </div>

                        <div class="form-group">
                            <label for="repeatedPassword">Repeat new password</label>
                            <input type="password" th:field="*{repeatedPassword}" id="repeatedPassword" class="form-control"
                                   aria-describedby="emailHelp" placeholder="Re-type your new password">
                        </div>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('repeatedPassword')}" role="alert">
                            <span th:errors="*{repeatedPassword}"></span>
                        </div>

                        <div class="col-md-12 text-center mb-3">
                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Change password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>