<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout/navbar :: head">
    <title id="pageTitle">Home Page</title>
</head>
<body>
<div th:include="layout/navbar :: navigationPanel"></div>

<h3 th:text="'Hey, good to see you ' + ${user.getName()} + '!'" style="text-align: center"></h3>
<br/>
<br/>
<img src="https://pics.me.me/thumb_infinitedoggomemes-howdy-fren-lomg-time-no-see-what-in-salutation-65153106.png" class="rounded mx-auto d-block" alt="Hello!">

</body>
</html>